<page-section classes="page-section--centered-text page-section--medium ui-blue">
  <h1 class="display3">Headings</h1>
</page-section>

<page-section>
  <p class="display1">Display 1</p>
  <p class="display2">Display 2</p>
  <p class="display3">Display 3</p>
  <p class="heading1">Heading 1</p>
  <p class="heading2">Heading 2</p>
  <p class="heading3">Heading 3</p>
  <p class="body1">Body 1</p>
  <p class="body2">Body 2</p>
  <p class="body3">Body 3</p>
  <p class="body4">Body 4</p>
  <p class="heading4">Heading 4</p>
  <p class="heading5">Heading 5</p>
</page-section>

<page-section>
  <div class="hgroup hgroup--spaced">
    <p class="heading5">Heading 5</p>
    <p class="heading1">Heading 1</p>
    <p class="body1">Body 1</p>
  </div>

  <a class="button button--primary" href="#">Button</a>

  <div class="hgroup hgroup--spaced">
    <p class="heading2">Heading 2</p>
    <p class="body2">Body 2</p>
  </div>

  <div class="hgroup">
    <p class="heading3">Heading 3</p>
    <p class="body3">Body 3</p>
  </div>

  <p>Here is some text</p>

  <div class="hgroup">
    <p class="body2">Body 2</p>
    <p class="body3">Body 3</p>
    <p class="body3"><a href="#">Body 3 Medium</a></p>
  </div>
</page-section>

<page-section>
  <h1 class="display1">Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
</page-section>

<page-section>
  <h1 class="display2">Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
</page-section>

<page-section>
  <h1 class="display3">Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
</page-section>

<page-section>
  <h1 class="heading1">Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
</page-section>

<page-section>
  <h1 class="heading2">Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
</page-section>

<page-section>
  <h1 class="heading3">Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
</page-section>

<page-section>
  <h1 class="body1">Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
</page-section>

<page-section>
  <h1 class="body2">Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
</page-section>

<page-section>
  <h1 class="body3">Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
</page-section>

<page-section>
  <h1 class="body4">Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
</page-section>

<page-section>
  <h1 class="heading4">Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
</page-section>

<page-section>
  <h1 class="heading5">Grumpy wizards make toxic brew for the evil Queen and Jack.</h1>
</page-section>
