<page-section classes="page-section--medium ui-blue">
  <h1 class="display3">All Digital Style Guide</h1>
</page-section>

<page-section classes="ui-grey">
  <div class="hgroup">
    <h2 class="heading4">Introduction</h2>
    <p class="heading1">The All Digital CSS Standards define our approach to creating distinct experiences.</p>
  </div>

  <p>These standards ensure that all of our experiences work together as a family to embody our brand vision, tone and voice.</p>

</page-section>

<page-section classes="ui-grey">
  <h2>How to Help.</h2>

  <p>Pull requests are welcome on GitHub in the <a href="https://github.com/Comcast/all-digital" target="_blank">All Digital Project</a>. This styleguide is acts as the visual display and testing ground for the CSS create in the All Digital project.</p>
</page-section>
