<page-section classes="page-section--centered-text page-section--medium ui-blue">
  <h1 class="display3">Actions</h1>
</page-section>

<page-section>
  <h2>Default Action</h2>
  <div class="action">
    <a class="button" href="#">Button Text</a>
  </div>

  <h2>Action Centered</h2>
  <div class="action action--centered">
    <a class="button" href="#">Button Text</a>
  </div>

  <h2>Action Right</h2>
  <div class="action action--right">
    <a class="button" href="#">Button Text</a>
  </div>

  <h2>Multi Action Right</h2>
  <div class="action action--right">
    <div class="action__item">
      <a class="button button--primary" href="#">Button Text</a>
    </div>
    <div class="action__item">
      <a class="button" href="#">Button Text</a>
    </div>
  </div>
</page-section>
