<page-section classes="page-section--centered-text page-section--medium ui-blue">
  <h1 class="display3">Card</h1>
</page-section>

<page-section>
  <h2>Default Card</h2>
  <card>
    <div class="hgroup">
      <h2 class="body2">Card Content</h2>
      <p>More card content</p>
    </div>
  </card>

  <h2>Card Secondary</h2>
  <card classes="card--secondary">
    <div class="hgroup">
      <h2 class="body2">Card Content</h2>
      <p>More card content</p>
    </div>
  </card>

  <h2>Card Success</h2>
  <card classes="card--success">
    <div class="hgroup">
      <h2 class="body2">Card Content</h2>
      <p>More card content</p>
    </div>
  </card>

  <h2>Card Info</h2>
  <card classes="card--info">
    <div class="hgroup">
      <h2 class="body2">Card Content</h2>
      <p>More card content</p>
    </div>
  </card>

  <h2>Card Danger</h2>
  <card classes="card--danger">
    <div class="hgroup">
      <h2 class="body2">Card Content</h2>
      <p>More card content</p>
    </div>
  </card>

  <h2>Card Warning</h2>
  <card classes="card--warning">
    <div class="hgroup">
      <h2 class="body2">Card Content</h2>
      <p>More card content</p>
    </div>
  </card>

  <h2>Card with action</h2>
  <card has-action="true">
    <div class="hgroup">
      <h2 class="body2">Card Content</h2>
      <p>More card content</p>
    </div>
  </card>

  <h2>Card with action right</h2>
  <card classes="card--action-right" has-action="true">
    <div class="hgroup">
      <h2 class="body2">Card Content</h2>
      <p>More card content</p>
    </div>
  </card>

  <h2>Card with action right at 768</h2>
  <card classes="card--action-right-at-768" has-action="true">
    <div class="hgroup">
      <h2 class="body2">Card Content</h2>
      <p>More card content</p>
    </div>
  </card>

  <h2>Card with date and action right at 768</h2>
  <card classes="card--has-date card--action-right-at-768" has-action="true" has-date="true">
    <div class="hgroup">
      <h4 class="body2">Card Content</h4>
      <p>More card content</p>
    </div>
  </card>

  <h2>Card with media and action right at 768</h2>
  <card classes="card--has-media card--action-right-at-768" has-media="true">
    <div class="hgroup">
      <h4 class="body2">Card Content</h4>
      <p>More card content</p>
      <div class="action">
        <a href="#">Link</a>
      </div>
    </div>
  </card>

  <h2>Common Tasks (cards within grid)</h2>
  <div class="ma-grid">
    <div class="ma-grid__col--1of3">
      <card classes="card--has-media card--action-right-at-768" has-media="true">
        <div class="hgroup">
          <h4 class="body2">Card Content</h4>
          <p>More card content</p>
          <div class="action">
            <a href="#">Link</a>
          </div>
        </div>
      </card>
    </div>
    <div class="ma-grid__col--1of3">
      <card classes="card--has-media card--action-right-at-768" has-media="true">
        <div class="hgroup">
          <h4 class="body2">Card Content</h4>
          <p>More card content</p>
          <div class="action">
            <a href="#">Link</a>
          </div>
        </div>
      </card>
    </div>
    <div class="ma-grid__col--1of3">
      <card classes="card--has-media card--action-right-at-768" has-media="true">
        <div class="hgroup">
          <h4 class="body2">Card Content</h4>
          <p>More card content</p>
          <div class="action">
            <a href="#">Link</a>
          </div>
        </div>
      </card>
    </div>
  </div>
</page-section>
