<page-section classes="page-section--centered-text page-section--medium ui-blue">
  <h1 class="display3">Card Group</h1>
</page-section>

<page-section>
  <h2>Default Card Group</h2>
  <card-group></card-group>

  <h2>Card Group Links</h2>
  <card-group-links></card-group-links>

  <h2>Card Group Links</h2>
  <card-group-buttons></card-group-buttons>

  <div class="card-group {{ classes }}">
    <div class="card-group__item">
      <card>
        <h2>Card Content</h2>
      </card>
    </div>
    <div class="card-group__item" ng-repeat="item in [0, 1, 2, 3]">
      <card classes="card--secondary">
        <h3>Card Content</h3>
      </card>
    </div>
    <div class="card-group__item">
      <button class="card" type="button">
        <span class="link">Add Personal Mobile Phone Number</span>
      </button>
    </div>
    <div class="card-group__item">
      <a class="card">
        <span class="link">Add Personal Mobile Phone Number</span>
      </a>
    </div>
  </div>
</page-section>
