<page-section classes="page-section--centered-text page-section--medium ui-blue">
  <h1 class="display3">Form Boolean</h1>
</page-section>

<page-section>
  <h2>Form Control Radio</h2>
  <form-boolean label="Radio Form Boolean" input-id="radio">
    <input id="radio" type="radio" name="radio">
  </form-boolean>

  <form-boolean label="Radio Form Boolean" input-id="radio-checked">
    <input id="radio-checked" type="radio" name="radio-checked" checked>
  </form-boolean>

  <form-boolean label="Radio Form Boolean Disabled" input-id="radio-disabled">
    <input id="radio-disabled" type="radio" name="radio-disabled" disabled>
  </form-boolean>

  <form-boolean label="Radio Form Boolean Disabled Checked" input-id="radio-disabled-checked">
    <input id="radio-disabled-checked" type="radio" name="radio-disabled-checked" checked disabled>
  </form-boolean>

  <h2>Form Control Checkbox</h2>
  <form-boolean label="Checkbox Form Boolean" input-id="checkbox">
    <input id="checkbox" type="checkbox" name="checkbox">
  </form-boolean>

  <form-boolean label="Checkbox Form Boolean Checked" input-id="checkbox-checked">
    <input id="checkbox-checked" type="checkbox" name="checkbox-checked" checked>
  </form-boolean>

  <form-boolean label="Checkbox Form Boolean Disabled" input-id="checkbox-disabled">
    <input id="checkbox-disabled" type="checkbox" name="checkbox-disabled" disabled>
  </form-boolean>

  <form-boolean label="Checkbox Form Boolean Disabled Checked" input-id="checkbox-disabled-checked">
    <input id="checkbox-disabled-checked" type="checkbox" name="checkbox-disabled-checked" checked disabled>
  </form-boolean>
</page-section>
