<page-section classes="page-section--centered-text page-section--medium ui-blue">
  <h1 class="display3">Form Boolean</h1>
</page-section>

<page-section>
  <h2>Default Form Controls</h2>
  <form-control label="Form Control Text" input-id="text">
    <input type="text" id="text" placeholder="placeholder">
    <span class="form-control__error">This is a really long error. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
  </form-control>

  <form-control label="Form Control Select" input-id="select">
    <select name="select" id="select">
      <option>Text</option>
    </select>
    <span class="form-control__error">This is a really long error. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
  </form-control>

  <form-control label="Form Control Textarea" input-id="textarea">
    <textarea id="textarea"></textarea>
    <span class="form-control__error">This is a really long error. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
  </form-control>

  <form-control label="Form Control Number" input-id="number">
    <input type="number" id="number" placeholder="placeholder">
    <span class="form-control__error">This is a really long error. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
  </form-control>

  <form-control label="Form Control Search" input-id="search">
    <input type="search" id="search" placeholder="placeholder">
    <span class="form-control__error">This is a really long error. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
  </form-control>

  <form-control classes="form-control--inline" label="Form Control Inline Textbox" input-id="inlineText">
    <input type="text" id="inlineText" placeholder="placeholder">
    <span class="form-control__error">This is a really long error. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
  </form-control>

  <form-control classes="form-control--inline" label="Form Control Inline Textarea" input-id="inlineTextarea">
      <textarea id="inlineTextarea"></textarea>
      <span class="form-control__error">This is a really long error. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
  </form-control>

  <form-control classes="form-control--inline-at-768" label="Form Control Inline at 768 Textbox" input-id="inlineText768">
    <input type="text" id="inlineText768" placeholder="placeholder">
    <span class="form-control__error">This is a really long error. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
  </form-control>

  <form-control classes="form-control--inline-at-768" label="Form Control Inline at 768 Textarea" input-id="inlineTextarea768">
    <textarea id="inlineTextarea768"></textarea>
    <span class="form-control__error">This is a really long error. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
  </form-control>

</page-section>
