<page-section classes="page-section--centered-text page-section--medium ui-blue">
  <h1 class="display3">Link Group</h1>
</page-section>

<page-section>
  <h2>Link Group</h2>
  <div class="link-group">
    <div class="link-group__item">
      <a href="#">Link 1</a>
    </div>
    <div class="link-group__item">
      <a href="#">Link 2</a>
    </div>
    <div class="link-group__item">
      <a href="#">Link 3</a>
    </div>
  </div>

  <h2>Link Group with One Item</h2>
  <div class="link-group">
    <div class="link-group__item">
      <a href="#">Link1</a>
    </div>
  </div>
</page-section>
