<page-section classes="page-section--centered-text page-section--medium ui-blue">
  <h1 class="display3">Loading</h1>
</page-section>

<page-section>
  <h3>Description</h3>
  <p>The loading component can be used as a full page takeover with fixed position and a bg color. If it is nested within a <a href="#/components/page-section">page-section</a> component, it will add the loading indicator centered within the page-section. See example below</p>

  <div class="card card--loading-dots">
    <loading></loading>
  </div>
</page-section>

<page-section classes="page-section--tall">
  <loading></loading>
</page-section>

<!-- <loading></loading> -->
