<page-section classes="page-section--centered-text page-section--medium ui-blue">
  <h1 class="display3">Page Section</h1>
</page-section>

<page-section>
  <h2>Default Page Section</h2>
</page-section>

<page-section classes="page-section--medium">
  <h2>Page Section Medium</h2>
</page-section>

<page-section classes="page-section--tall">
  <h2>Page Section Tall</h2>
</page-section>

<page-section classes="page-section--overlay">
  <h2>Page Section Overlay</h2>
</page-section>

<page-section classes="page-section--overlay page-section--overlay-right">
  <h2>Page Section Overlay Right</h2>
</page-section>

<page-section classes="page-section--overlay page-section--overlay-image-left">
  <h2>Page Section Overlay Image Left</h2>
</page-section>
