// ==========================================================================
// site specific colors and overrides
// ==========================================================================

// brand colors
$blue-sky:          #0272B6;
$blue-deep:         #0B7DBB;
$blue-genie:        #2B9CD8;
$blue-ocean:        #00619A;
$blue-moon:         #015383;

$red-cherry:        #c90318;

$yellow-banana:     #fece00;
$yellow-pumpkin:    #ffa700;

$green-lime:        #5bc942;
$green-grass:       #19a926;
$green-forest:      #007B76;

// additional colors
$minty:             #65d0a7;
$lagoon:            #1bcfe1;
$green-tea:         #1ee2c9;
$smolder:           #1f232e;
$urban:             #051219;
$red-watermelon:    #fb543f;
$turq:              #50c3d5;
$haute:             #ff5a5a;
$tangerine:         #ff9271;
$berry:             #ff638d;
$bramble:           #bc43d3;
$reign:             #7155d3;

// cool greys
$white:             #fff;
$cool-grey1:        #fbfcfc;
$cool-grey2:        #f2f4f5;
$cool-grey3:        #eef1f3;
$cool-grey4:        #ebeef0;
$cool-grey5:        #e6eaed;
$cool-grey6:        #dde2e6;
$cool-grey7:        #c7cdd2;
$cool-grey8:        #b1b9bf;
$cool-grey9:        #9ba4aa;
$cool-grey10:       #868f96;
$cool-grey11:       #646a70;
$cool-grey12:       #44484c;
$cool-grey13:       #2a2c2d;
$cool-grey14:       #191919;
$black:             #000;

// ==========================================================================
// functional color palette
// ==========================================================================

// general
$text-color:        $cool-grey12;
$link-color:        $blue-sky;
$link-hover-color:  $blue-sky;
$link-active-color: $blue-moon;

$background-color:  $white;

// color degrees
$primary:           $blue-sky;
$secondary:         $blue-deep;

// ui colors
$ui-success:        $green-lime;
$ui-info:           $blue-sky;
$ui-warning:        $yellow-banana;
$ui-danger:         $red-cherry;

// ==========================================================================
// base elements
// ==========================================================================

@import 'variables/headings';
@import 'variables/forms';

// ==========================================================================
// components
// ==========================================================================

@import 'variables/buttons';
@import 'variables/page-section';
@import 'variables/form-controls';
@import 'variables/card';
@import 'variables/wrapper';

// ==========================================================================
// font stacks
// ==========================================================================

$base-font-size:            14 !default;
$base-line-height:          22 !default;
$primary-font-stack:        $xfinity-standard;
$secondary-font-stack:      $xfinity-standard-condensed;

// ==========================================================================
// theme maps
// ==========================================================================

@import 'themes/dark';
@import 'themes/blue';
@import 'themes/grey';
